<h2>Custom class and style directive</h2>

  <div  [appClass]="{'app-container':true, appHighlight : true, appFont : true}">
    <p>
      loreum ipsum, sample text,loreum ipsum, sample textloreum ipsum, sample textloreum ipsum, sample textloreum ipsum, sample text.
    </p>
  </div>

  <div class="app-container" [appStyle]="{backgroundColor : active ? 'red' : 'blue', color : active ? 'black' : 'yellow'}">
    <p>
      loreum ipsum, sample text,loreum ipsum, sample textloreum ipsum, sample textloreum ipsum, sample textloreum ipsum, sample text.
    </p>
  </div>